.blog-post {
    width: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #b7a80a !important;
}

.header-container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.header-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-position: center;
  background-size: cover;
  filter: brightness(70%);
}

.header-text-container {
  text-align: center;
  color: rgb(1, 0, 4);
  position: relative;
  z-index: 1;
}

.header-text {
  font-size: 3.5rem;
  margin-bottom: 0.5rem;
  color: rgba(0, 0, 0, 0.865);
}

.blog-section {
  padding: 3rem 10%;
  background-color: #c3cd09;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.blog-header {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #0c0c0d;
}

.blog-container {
  display: flex;
  justify-content: space-between;
}

